@import url('@src/styles/variables.css');

.main_container {
  /*needed for schema hide-show effect*/
  position: relative;
  overflow: hidden;
  /*__________________________________*/
  margin-top: 2rem;
  padding: 0 1rem;
  max-width: 1240px;
}

.top_block {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.input_block {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  padding-right: 2.2rem;
  padding-left: 0.5rem;
  margin-left: 1rem;
  background-color: var(--variables-active-btn-bg);
  height: 2rem;
  width: 100%;
}

.search_btn {
  position: absolute;
  right: 0.3rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.search_btn svg {
  width: 1.4rem;
  height: 1.4rem;
  fill: var(--search-btn-color);
}

.search_btn svg:hover {
  fill: var(--search-btn-hovered-color);
  transition: 0.2s;
}

.search_btn svg:active {
  fill: var(--search-btn-active-color);
  transition: 0.2s;
}

.results_btn {
  margin-left: 1rem;
  white-space: nowrap;
}
