@import url('@src/styles/variables.css');

.react-codemirror2 {
  height: 300px;
}

.edit_blocks {
  margin-top: 1rem;
}

.edit_btns {
  display: flex;
  background-color: var(--variables-btns-container-bg);
}

.edit_btn {
  cursor: pointer;
  padding: 1rem;
}

.active_btn {
  background-color: var(--variables-active-btn-bg);
  transition: 0.2s;
}

.edit_block_results {
  background-color: var(--variables-active-btn-bg);
  height: 300px;
  padding-top: 0.5rem;
  padding-left: 1rem;
  width: 100%;
  display: block;
  resize: none;
  overflow: auto;
}
