@import url('@src/styles/variables');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--base-font-size);
  font-family: var(--primary-font);

  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: inherit;
  transition: all 0.3s ease;
}

a:hover {
  color: var(--link-hovered-color);
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

button {
  outline: none;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--btn-bg-color);
  color: var(--primary-text-color);
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  border-color: var(--link-color);
}

button:active {
  background-color: var(--primary-text-color);
  color: var(--btn-bg-color);
}

button:disabled:hover,
button:disabled:active {
  cursor: not-allowed;
  background-color: var(--btn-bg-color);
  border: 1px solid transparent;
  color: inherit;
}

a.active {
  color: var(--link-active-color);
  text-decoration: underline;
  pointer-events: none;
}
