:root {
  --header-height: 6rem;
  --header-less500px-height: 15rem;
  
  --primary-text-color: #ffffffde;
  --primary-bg-color: #242424;
  --link-color: #4f46e5;
  --link-hovered-color: #3b82f6;
  --link-active-color: #dc2626;
  --btn-bg-color: #1a1a1a;
  --header-bg-color: #0000008c;
  --header-onScroll-bg: #00002f;

  --base-font-size: calc(0.3vw + 0.5vh + 4px);
  --primary-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}