@import url('@src/styles/variables.css');

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
}

.main {
  width: 100%;
  flex-grow: 1;

  /*the properties below is necessary for sticky header*/
  margin-top: var(--header-height);
}