@import url('@src/styles/variables.css');

.variables_btns {
  display: flex;
  background-color: var(--variables-btns-container-bg);
}

.variables_btn {
  cursor: pointer;
  padding: 1rem;
}

.active_btn {
  background-color: var(--variables-active-btn-bg);
  transition: 0.2s;
}
