@import url('@src/styles/variables.css');

.header {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;

  background-color: var(--header-bg-color);
  transition: all 0.4s ease;
  z-index: 1000;
  height: var(--header-height);
}

.header.scroll {
  background-color: var(--header-onScroll-bg);
}

.header * {
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

.header a {
  font-size: 1.8rem;
}

.navigation {
  display: flex;
  gap: 2rem;
}

.title {
  margin-right: auto;
  font-size: 2.2rem;
  text-wrap: nowrap;
  text-align: center;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}